Package: bofc
Section: contrib/java
Priority: optional
Architecture: all
Homepage: http://buchlese.net
Depends: 
Version: 0.7
Maintainer: Markus Blaurock blaurock@buchlese.net
Description: BackOffice for Pos-Adapters