<div class="container">
	<form editable-form name="editableForm" onaftersave="updateSubscrProduct(cust)">
		<div class="page-header">
			<h1>
				Abonnement <span editable-text="cust.name" e-name="name" e-required>{{ cust.name|| '--' }}</span>
 <a ui-sref="subscrproducts.charge({id: cust.id})" class="btn btn-info pull-right">Berechnen</a>
			</h1>
		</div>
		<h3>
			von <span editable-text="cust.publisher" e-name="publisher">{{cust.publisher}}</span>
 		</h3>
		<div class="row">
			<div class="col-md-2">Abkürzung</div>
			<div class="col-md-2">
				<span editable-text="cust.abbrev" e-name="abbrev">{{cust.abbrev}}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">ISSN</div>
			<div class="col-md-8">
				<span editable-text="cust.issn" e-name="issn">{{cust.issn}}</span>
			</div>
			<div class="col-md-2" ng-show="cust.issn">
				<a href="http://dispatch.opac.dnb.de/DB=1.1/CMD?ACT=SRCHA&IKT=8&TRM=${p.issn}" target="_blank">ZDB Opac<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">URL zum Verlag</div>
			<div class="col-md-8">
				<span editable-text="cust.url" e-name="url">{{cust.url}}</span>
			</div>
			<div class="col-md-2" ng-show="cust.url">
				<a href="${p.url}" target="_blank">website<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a>
			</div>
		</div>

		<p></p>

		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-info">
					<div class="panel-heading">
						Weiterberechnung
					</div>
					<div class="panel-body">Einstellungen für die Weiterberechnung an unsere Kunden</div>
					<dl class="dl-horizontal">
						<dt>Intervall Namensmuster</dt>
						<dd>
							<span editable-text="cust.intervalPattern" e-name="intervalPattern">{{cust.intervalPattern}}</span>
						</dd>
						<dt>Rechnungstellung</dt>
						<dd>
							<span editable-select="cust.paytype" e-name="paytype" e-ng-options="s.value as s.text for s in zahlintervalle"> {{ (zahlintervalle | filter:{value: cust.paytype})[0].text || 'Nicht gesetzt' }} </span>
						</dd>
						<dt>Rechnung bis</dt>
						<dd>
							<span editable-bsdate="cust.lastInterval" e-name="lastInterval">{{cust.lastInterval}}</span>
						</dd>
						<dt>Proz Print-Anteil</dt>
						<dd>
							<span editable-text="cust.halfPercentage" e-name="halfPercentage">{{cust.halfPercentage || '1'}}</span>
						</dd>
					</dl>
					<div class="panel-footer">Letzte Zahlzeit ${(lastInterval.name)!}</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-info">
					<div class="panel-heading">Buchleseabo</div>
					<div class="panel-body">Infos über das Abo bei unserem Lieferanten</div>
					<dl class="dl-horizontal">
						<dt>Bestellte Menge</dt>
						<dd>
							<span editable-text="cust.quantity" e-name="quantity">{{cust.quantity}}</span>
						</dd>
						<dt>Bezug seit</dt>
						<dd>
							<span editable-bsdate="cust.startDate" e-name="startDate">{{cust.startDate}}</span>
						</dd>
						<dt>Bezug bis</dt>
						<dd>
							<span editable-bsdate="cust.endDate" e-name="endDate">{{cust.endDate}}</span>
						</dd>
						<dt>Memo</dt>
						<dd>
							<span editable-textarea="cust.memo" e-name="memo">{{cust.memo}}</span>
						</dd>
					</dl>
					<div class="panel-footer"></div>
				</div>
			</div>

		</div>
		<div class="buttons">
			<!-- button to show form -->
			<button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">Edit</button>
			<!-- buttons to submit / cancel form -->
			<span ng-show="editableForm.$visible">
				<button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">Save</button>
				<button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">Cancel</button>
			</span>
		</div>
	</form>
		<pre>{{ cust | json }}</pre>
	
</div>