<div class="container">
	<div class="page-header">
		<h1>Kassenberichte</h1>
	</div>
    <div class="alert alert-danger" ng-show="error">Nicht gespeichert: Server meldet '{{error.data.exception}}'</div>
    <div class="alert alert-success" ng-show="success">{{success.name}} erfolgreich gespeichert</div>
	<div>
	 <p>Suchkriterien</p>
	 <div class="radio">
	  <label><input type="radio" ng-model="pointofsale" value="1">Dornhan</label>
	</div>
	<div class="radio">
	  <label><input type="radio" ng-model="pointofsale" value="2">Sulz</label>
	</div>
	<div class="radio">
	  <label><input type="radio" ng-model="pointofsale" value="3">Schramberg</label>
	</div>
	 <label>  <input type="checkbox" ng-model="exported"> Exportiert?</label>
	 <button ng-click="reloadData()">neu laden</button>
	 <button ng-click="createBalanceExport(pointofsale)">Neuer KassenBericht-Export</button>
	</div>
	<hr>
	<div>
	 <p>Suchergebnis</p>	
	<table ng-table="tableParams" class="table" show-filter="true">
    <tr ng-repeat="row in $data">
        <td title="'AbschlussID'" filter="{abschlussId: 'text'}" sortable="'abschlussId'">
        <a ng-click="showBalance(row)"  class="cursor-pointer">{{row.abschlussId}}</a>
        </td>
        <td title="'Datum'" sortable="'abschlussId'" align="right">{{row.abschlussId | abschlussdate}}</td>
        <td title="'Kasse'" sortable="'pointid'" align="center">{{row.pointid}}</td>
        <td title="'Umsatz'" sortable="'revenue'" align="right">{{row.revenue / 100 | currency}}</td>
        <td title="'Exportiert'" sortable="'exported'">{{row.exported}}</td>
        <td title="'Exportdatum'" filter="{exportDate: 'text'}" sortable="'exportDate'">{{row.exportDate | localdatetime }}</td>
    </tr>
    </table>
	</div>
</div>
