<div class="container">
	<div class="page-header">
		<h1>FiBu-Übergaben Kassenberichte</h1>
	</div>
    <div class="input-group">
        <label class="radio-inline"><input type="radio" ng-model="pfilter.pointId" ng-value="1"/> Dornhan</label> 
        <label class="radio-inline"><input type="radio" ng-model="pfilter.pointId" ng-value="2"/> Sulz</label> 
        <label class="radio-inline"><input type="radio" ng-model="pfilter.pointId" ng-value="3"/> Schramberg</label>
    </div>
    <hr/>
	<div>
	<table ng-table="tableParams" class="table">
    <tr ng-repeat="row in $data">
        <td>
			<button class="btn-xs btn-info" type="button" title="Download" ng-click="download(row.id)">
				<span class="glyphicon glyphicon-file"></span>
			</button>
			<button class="btn-xs btn-info" type="button" title="View" ng-click="showExport(row.id)">
				<span class="glyphicon glyphicon-list-alt"></span>
			</button>
			<button class="btn-xs btn-info" type="button" title="Sätze" ng-click="showDetailsOfExport(row.id)">
				<span class="glyphicon glyphicon-expand"></span>
			</button>
		</td>		
        <td title="'von-Datum'"  sortable="'from'">{{row.from | localdate}}</td>
        <td title="'bis-Datum'"  sortable="'till'">{{row.till | localdate}}</td>
        <td title="'#Datensätze'" >{{row.datasize}}</td>
        <td title="'Kasse'" sortable="'pointId'">{{row.pointId}}</td>
        <td title="'Exportdatum'" sortable="'execDate'">{{row.execDate | localdatetime }}</td>
        <td>
			<button class="pull-right btn-sm btn-danger" type="button" title="Delete" ng-click="deleteExport(row.id)" confirm="Bitte das Löschen bestätigen!">
				<span class="glyphicon glyphicon-trash"></span>
			</button>
		</td>		
    </tr>
    </table>
    
    <hr>
    <div ng-if="detailTable">
    <table ng-table="detailTable" class="table table-condensed table-bordered table-striped">
    <tr ng-repeat="row in $data">
        <td title="'AbschlussID'" sortable="'abschlussId'">
        <a ng-click="showBalance(row)"  class="cursor-pointer">{{row.abschlussId}}</a>
        </td>
        <td title="'Datum'" sortable="'abschlussId'" align="right">{{row.abschlussId | abschlussdate}}</td>
        <td title="'Kasse'" sortable="'pointid'" align="center">{{row.pointid}}</td>
        <td title="'Umsatz'" sortable="'revenue'" align="right">{{row.revenue / 100 | currency}}</td>
        <td title="'Exportiert'" sortable="'exported'">{{row.exported}}</td>
        <td title="'Exportdatum'" sortable="'exportDate'">{{row.exportDate | localdatetime }}</td>
    </tr>
    </table>
    </div>
    
	</div>
</div>
