Package: posa
Section: contrib/java
Priority: optional
Architecture: all
Homepage: http://buchlese.net
Depends: 
Version: 2.7
Maintainer: Markus Blaurock blaurock@buchlese.net
Description: Adapter for Libras-Point Of Sale System
