html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	border: 0;
}

#main {
	height: 100%;
	width: 100%;
	border: 0;
}

#header {
	margin: 0;
}

/*Grid needs an explicit height by default*/
#txGrid {
    height: 100%;
}

.dojoxGrid table {
  margin: 0;
}

.boardlet {
	background-color:#fffeee;
	width:30%;
	padding:8px;
	margin:20px;
    width:45%;
    font-size:16pt;
    border: 1px solid #000;
}


/* pre-loader specific stuff to prevent unsightly flash of unstyled content */
#loader {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ededed;
	z-index: 999;
	vertical-align: middle;
}

#loaderInner {
	padding: 5px;
	position: relative;
	left: 0;
	top: 0;
	width: 175px;
	background: #3c3;
	color: #fff;
}
