<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>{{exp.description}}</title>

<script>
	function drucken() {
		window.print();
	}
</script>
</head>
<body>
  <div class="modal-content">
	<div class="modal-header">
		<h1>Kassenberichtsexport vom {{exp.execDate | localdate:'fullDate'}}</h1>
	</div>

	<div class="modal-body">
		<p>Erster Kassenbericht vom {{exp.firstBalance.firstCovered | localdate:'fullDate'}}</p>
		<p>Letzter Kassenbericht vom {{exp.lastBalance.lastCovered | localdate:'fullDate'}}</p>

	<p>Kassenanfangsbestand {{exp.cashStart/100 | currency}}</p>
	<p>Kassenendbestand {{exp.cashEnd/100 | currency}}</p>
	<p>Kasseneinzahlungen {{exp.cashInSum/100 | currency }}	Kassenauszahlungen {{exp.cashOutSum/100 | currency}} </p>
	<p> Gutscheine eingelöst {{exp.couponInSum/100 | currency }} ausgegeben {{exp.couponOutSum/100 | currency }} </p>

	<div class="col-md-6" ng-if="exp.invoicePays.length > 0">
		<br>Bar bezahlte Rechnungen {{exp.invoicesPayedSum/100 | currency}}
		<table class="table">
			<tr ng-repeat="inv in exp.invoicePays">
				<td>{{inv.payDate | localdate}}</td>
				<td>{{inv.invNum}}</td>
				<td>{{inv.amount / 100 | currency }}</td>
			</tr>
		</table>
	</div>

		<table class="table table-condensed table-bordered">
			<thead>
				<tr>
					<th>Kassenbericht vom</th>
					<th>Kassenanfang</th>
					<th>Umsatz</th>
					<th>Abschöpfung</th>
					<th>Tele</th>
					<th>Kassendiff</th>
					<th>Kassenenendstand</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="bal in exp.balances">
					<td>{{bal.lastCovered | localdate:'fullDate'}}</td>
					<td align="right" style="padding-left: 10mm">{{bal.cashStart/100 | currency}}</td>
					<td align="right" style="padding-left: 10mm">{{bal.revenue/100 | currency}}</td>
					<td align="right" style="padding-left: 6mm">{{bal.absorption/100 | currency}}</td>
					<td align="right" style="padding-left: 6mm">{{bal.paymentMethodBalance['TELE']/100 | currency}}</td>
					<td align="right" style="padding-left: 10mm">{{bal.cashDiff/100 | currency}}</td>
					<td align="right" style="padding-left: 10mm">{{bal.cashEnd/100 | currency}}</td>
				</tr>

				<tr>
					<td><b>Summe</b></td>
					<td></td>
					<td align="right" style="padding-left: 10mm"><b>{{exp.revenueSum/100 | currency}}</b></td>
					<td align="right" style="padding-left: 6mm"><b>{{exp.absorptionSum/100 | currency}}</b></td>
					<td align="right" style="padding-left: 6mm"><b>{{exp.telecashSum/100 | currency}}</b></td>
					<td></td>
					<td></td>
				</tr>

			</tbody>
		</table>
	</div> <!--  modal body -->
   </div>	
</body>
</html>

